<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title><%= title%></title>

		<!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/css/bootstrap-social.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css/font-awesome/css/font-awesome.min.css">
		<style type="text/css">
			th, td {
				padding: 5px;
				text-align:center;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron row">
				<div class="col-md-6">
					<table>
						<tr>
							<th>Recipe Name</th>
							<td><input class="form-control" type="text" size="30" value="<%= Recipe.RecipeName%>"/></td>
						</tr>
						<tr>
							<th>Description</th>
							<td><textarea class="form-control" rows="2" cols="55" placeholder="Great Meal!"><%= Recipe.RecipeDescription%></textarea></td>
						</tr>
						<tr>
							<th>Food Category</th>
							<td><div><%= Recipe.Foodcategory.FoodCategory%></div></td>
						</tr>
						<tr>
							<th>Source</th>
							<td><input class="form-control" type="text" size="30" placeholder="Nancy" value="<%= Recipe.Source%>"/></td>
						</tr>
						<tr>
							<th>Time to Prepare</th>
							<td><input class="form-control" type="number" size="30" placeholder="45 minutes" value="<%= Recipe.TimeToPrepare%>"/></td>
						</tr>
						<tr>
							<th>Number of Serving</th>
							<td><input class="form-control" type="number" size="30" placeholder="8" value="<%= Recipe.NumberOfServings%>"/></td>
						</tr>
						<tr>
							<th>Vegetarian</th>
							<% if( Recipe.Vegetarian == 1){%>
								<td><input type="radio" name="" value="on" checked></td>
							<%}else {%>
								<td><input type="radio" name="" value="on" ></td>
							<% }%>
						</tr>
					</table>
				</div>
				<div class="col-md-6">
					<table>
						<tr>
							<th>Instructions</th>
							<td><textarea class="form-control" rows="4" cols="55"><%= Recipe.Instructions%></textarea></td>
						</tr>
						<tr>
							<th>Utensils</th>
							<td><textarea class="form-control" rows="2" cols="55"><%= Recipe.Utensils%></textarea></td>
						</tr>
						<tr>
							<th>Calories Per Serving</th>
							<td><input class="form-control" type="text" size="30" placeholder="300" value="<%= Recipe.CaloriesPerServing%>"/></td>
						</tr>
						<tr>
							<th>Nutrional Info</th>
							<td><textarea class="form-control" rows="2" cols="55" placeholder="Very nutrional"><%= Recipe.NutritionalInformation%></textarea></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<table class="table table-hover table-bordered " style="text-align:center;">
						<tr class="info">
							<th>Ingredient</th>
							<th>Quality</th>
							<th>Comments</th>
						</tr>
						<% for(var i=0;i<Recipe.Recipeingredients.length;i++) {%>
							<tr class="danger">
								<td><%= Recipe.Recipeingredients[i].Ingredient.Ingredient%></td>
								<td><input class="form-control" type="number" value="<%= Recipe.Recipeingredients[i].Quantity%>"></td>
								<td><input class="form-control" type="text" value="<%= Recipe.Recipeingredients[i].Comments%>"></td>
							</tr>
						<%}%>
					</table>
				</div>
				<div class="col-md-3">
					<button type="button" class="btn btn-success" style="margin-top: 30px;">Save</button>
				</div>
			</div>
		</div>
	</body>
</html>
